@charset "utf-8";
@use "../../global/_" as g;
.c-business {
	&-lead {
		background: #EEF7FE;
		text-align: center;
		padding: 105px 0 115px;

		@include g.smMax {
			padding: 40px 15px 60px;
			text-align: left;
		}

		&__ttl {
			color: g.$baseColor;
			font-size: 4.6rem;
			font-weight: 700;
			margin: 0 0 50px;

			@include g.smMax {
				font-size: 2.6rem;
				margin: 0 0 25px;
				text-align: center;
			}
		}
	}

	&-anker {
		max-width: 1260px;
		margin: -33px auto 0;
		padding: 0 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		@include g.smMax {
			margin: -25px auto 0;
			padding: 0 15px;
			flex-direction: column;
		}

		@media only screen and (min-width: 768px) and (max-width: 1055px) {
			.e-btn-arrow {
				min-width: 220px;
				font-size: g.$fz-l;
			}
		}

		@include g.smMax {
			.e-btn-arrow {
				min-width: auto;
				width: 100%;
			}
		}

		&__item {
			margin: 0 15px;

			@media only screen and (min-width: 768px) and (max-width: 1055px) {
				margin: 0 5px;
			}

			@include g.smMax {
				margin: 0 0 15px;
				width: 100%;
				
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__inner {
		padding: 180px 0;

		@include g.smMax {
			padding: 80px 0;
		}
	}

	&-block {
		margin: 0 auto 140px;
		max-width: 1260px;
		padding: 0 30px;
		position: relative;
		z-index: 2;

		@include g.smMax {
			margin: 0 auto 80px;
			padding: 0 15px;
		}

		&:last-child {
			margin: 0 auto;
		}

		&._disposal_ {
			@include g.smMax {
				margin: 20px 0 0;
			}

			.c-business {
				&__ttl {
					.__num {
						background: #CDE1F1;
					}
				}
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		@include g.smMax {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		border-right: 1px solid g.$line-gray;
		border-bottom: 1px solid g.$line-gray;
		padding: 35px 25px;
		font-size: 1.5rem;

		@include g.smMax {
			border-right: none;
			padding: 20px 10px;
		}

		&:nth-of-type(3n) {
			border-right: none;
			padding: 35px 0 35px 25px;

			@include g.smMax {
				padding: 20px 10px;
			}
		}

		&:nth-child(3n+1) {
			padding: 35px 25px 35px 0;

			@include g.smMax {
				padding: 20px 10px;
			}
		}

		&:nth-last-child(-n+2) {
			border-bottom: none;

			@include g.smMax {
				border-bottom: 1px solid g.$line-gray;
			}
		}

		&:last-child {
			@include g.smMax {
				border-bottom: none;
				padding: 20px 10px 0;
			}
		}

		&:first-child {
			@include g.smMax {
				padding: 0 10px 20px;
			}
		}
	}

	&__ttl {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 30px;

		@include g.smMax {
			margin: 0 0 15px;
		}

		@media only screen and (min-width: 768px) and (max-width: 1160px) {
			br {
				display: none;
			}
		}

		.__num {
			border: 2px solid #CDE1F1;
			border-radius: 5px;
			background: g.$white;
			font-size: 3.0rem;
			font-weight: 700;
			color: g.$baseColor;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			@include g.font-en;
			line-height: 1.0;
			margin: 0 20px 0 0;

			@include g.smMax {
				width: 50px;
				height: 50px;
				font-size: g.$fz-xxxl;
				margin: 0 15px 0 0;
			}
		}

		.__txt {
			font-size: g.$fz-xxl;
			font-weight: 700;
			color: g.$baseColor;
			line-height: 1.4;
			width: calc((100% - 60px) - 20px);

			@include g.smMax {
				font-size: 1.9rem;
			}
		}
	}

	&-flow {
		background: g.$bg-gray;
		padding: 180px 30px;

		@media only screen and (min-width: 768px) and (max-width: 1170px) {
			padding: 100px 30px;
		}

		@include g.smMax {
			padding: 80px 15px;
		}

		&__inner {
			margin: 0 auto;
			max-width: 1200px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 60px;

			@media only screen and (min-width: 768px) and (max-width: 1170px) {
				align-items: flex-start;
			}

			@include g.smMax {
				margin: 0 0 45px;
				flex-direction: column;
			}

			&:last-child {
				margin: 0;
			}
		}

		&__img {
			order: 1;
			width: 25%;
			border-radius: 15px;

			@include g.smMax {
				order: 2;
				width: 75%;
				margin: 0 auto;
				border-radius: 7px;
			}

			.__elem {
				border-radius: 15px;	

				@include g.smMax {
					border-radius: 7px;
				}
			}
		}

		&-detail {
			order: 2;
			width: calc((100% - 25%) - 80px);

			@media only screen and (min-width: 768px) and (max-width: 1170px) {
				width: calc((100% - 25%) - 40px);
			}

			@include g.smMax {
				order: 1;
				width: 100%;
				margin: 0 0 30px;
			}

			&__ttl {
				color: g.$baseColor;
				font-size: 2.6rem;
				font-weight: 700;
				margin: 0 0 30px;

				@include g.smMax {
					font-size: g.$fz-xxl;
					margin: 0 0 15px;
				}

				.__num {
					@include g.font-en;
					border-right: 1px solid #A9C2DA;
					padding: 0 20px 0 0;
					margin: 0 15px 0 0;

					@include g.smMax {
						padding: 0 10px 0 0;
						margin: 0 10px 0 0;
					}
				}
			}
		}
	}
}
