@charset "utf-8";
@use "../../global/_" as g;
.c-privacy {
	&__txt {
		margin: 0 0 120px;

		@include g.smMax {
			margin: 0 0 40px;
		}
	}
	
	&__txt02 {
		margin: 0 0 20px;
	}

	&-block {
		margin: 0 0 70px;

		@include g.smMax {
			margin: 0 0 40px;
		}

		&:last-of-type {
			margin: 0 0 50px;

			@include g.smMax {
				margin: 0 0 25px;
			}
		}
	}


}
