@charset "utf-8";
@use "../../global/_" as g;
.l-footer {
	background: g.$text-black;
	color: g.$white;
	padding: 80px 30px 50px;

	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&-left {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (min-width: 768px) and (max-width: 1055px) {
			width: 40%;
		}

		&__address {
			margin: 0 0 30px;
		}

		&__tel {
			font-size: 3.0rem;
			@include g.font-bold;
			@include g.font-en;
			margin: 0 0 10px;

			a[href*="tel:"] {
				color: g.$white;
				font-size: 4.0rem;
			}
		}

		&__fax {
			font-size: g.$fz-xxxl;
			font-weight: 400;
			@include g.font-en;

			@media only screen and (min-width: 768px) and (max-width: 1170px) {
				font-size: g.$fz-xxl;
			}
		}
	}

	&-right {
		width: calc((100% - 50%) - 130px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (min-width: 768px) and (max-width: 1055px) {
			width: calc((100% - 40%) - 60px);
		}

		&-link {
			display: flex;
			justify-content: flex-end;
			width: 100%;

			.__link {
				color: g.$line-gray;
				font-size: 1.5rem;
				font-weight: 400;
				letter-spacing: 0.75px;	
				
				@include g.hover {
					color: g.$aqua;
				}	
			}

			.__txt {
				background: none
			}
		}
	}

	&-logo {
		&__link {
			display: inline-block;
			width: 288px;
			line-height: 0;
			margin: 0 0 50px;

			@media only screen and (min-width: 768px) and (max-width: 955px) {
				width: 230px;
			}
	
			@include g.smMax {
				width: 160px;
			}

			.__elem {
				width: 100%;
			}

			.__ico {
				width: 100% !important;
			}
		}
	}

	&-copyright {
		font-size: g.$fz-xs;
		font-weight: 400;
		letter-spacing: 0.65px;
		color: g.$line-gray;
	}
}