@charset "utf-8";
@use "../../../global/_" as g;
.e-form-check {
	.__elem {
		display: none;
		&:checked + .__txt {
			&::after {
				opacity: 1;
			}
			&::before {
				border: 1px solid g.$baseColor;
				background: g.$baseColor;
			}
		}
	}
	.__txt {
		position: relative;
		padding: 0 0 0 40px;
		cursor: pointer;
		font-size: g.$fz-l;
		font-weight: 700;
		overflow: hidden;
		display: inline-block;

		@include g.smMax {
			font-size: g.$fz-m;
		}

		&::before {
			left: 0;
			width: 25px;
			height: 25px;
			border: 1px solid #d9d9d9;
			content: '';
			@include g.centering-elements(false, true);
			@include g.radius(4);

			@include g.smMax {
				width: 23px;
				height: 23px;
			}
		}

		&::after {
			left: 7px;
			content: '\e902';
			color: g.$white;
			@include g.font-icon;
			font-size: g.$fz-s;
			font-weight: 600;
			opacity: 0;
			@include g.centering-elements(false, true);

			@include g.smMax {
				left: 5px;
			}
		}
	}
}
