@charset "utf-8";
@use "../../global/_" as g;
.m-box {
	padding: 40px;
	background: g.$white;

	@include g.smMax {
		padding: 20px;
	}
	&._gray_ {
		background: g.$bg-gray;
	}
	&._border_ {
		border: 2px solid g.$aqua;
	}
	&._error_ {
		border: 2px solid g.$red;
		background: rgba(g.$red, 0.1);
		color: g.$red;

		.icon-error {
			margin: 0 20px 0 0;

			@include g.smMax {
				margin: 0 10px 0 0;
			}
		}
	}
}
