@charset "utf-8";
@use "../../global/_" as g;
.c-contact-form {
	&-tel {
		margin: 0 0 80px;
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__ttl {
			font-size: g.$fz-xxxl;
			@include g.font-bold;
			letter-spacing: 1.2px;
		}

		&__txt {
			text-align: center;

			.__tel {
				@include g.font-bold;
				color: g.$baseColor;
				@include g.font-en;
				font-size: 3.2rem;
				margin: 0 0 10px;
			}

			.__link {
				font-size: 4.8rem;
				color: g.$baseColor;
			}

			.__time {
				font-size: 1.5rem;
				letter-spacing: 0.75px;
			}
		}
	}

	.m-table {
		th {
			padding: 30px 0;

			@include g.smMax {
				padding: 15px 0 5px;
			}
		}
		tr {
			&:first-child {
				th {
					padding: 30px 0;

					@include g.smMax {
						padding: 0 0 5px;
					}
				}	
				td {
					padding: 30px 0 30px 100px;

					@include g.smMax {
						padding: 5px 0 15px;
					}
				}
			}
		}
		td {
			padding: 30px 0 30px 100px;

			@include g.smMax {
				padding: 5px 0 15px;
			}
		}
	}

	.m-box {
		.__ttl {
			margin: 0 0 10px;
			font-size: 1.7rem;
			@include g.font-bold;
		}
	}

	&__btn {
		@include g.smMax {
			.e-btn-arrow {
				margin: 0;

				&._gray_ {
					order: 2;
				}

				&._yellow_ {
					order: 1;
					margin: 0 0 20px;
				}
			}
		}
	}
}
