@charset "utf-8";
@use "../../../global/_" as g;
.e-form-radio {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;

	.__elem {
		display: none;
		&:checked + .__txt {
			&::after {
				opacity: 1;
			}
			&::before {
				border: 1px solid g.$baseColor;
			}
		}
	}
	
	.__txt {
		position: relative;
		padding: 0 0 0 30px;
		cursor: pointer;
		&::before {
			left: 0;
			content: '';
			border: 1px solid g.$line-gray;
			@include g.centering-elements(false, true);
			@include g.circle(17);
		}
		&::after {
			left: 5px;
			content: '';
			background: g.$baseColor;
			opacity: 0;
			@include g.centering-elements(false, true);
			@include g.circle(9);
		}
	}
}
