@charset "utf-8";
@use "../../global/_" as g;
.l-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100px;
	@include g.transition;

	@include g.smMax {
		height: 75px;
	}

	._gnav-show_ & {
		
		.l-header {
			&__inner {
				background: g.$white;
			}

			&-logo {
				/*&__link {
					.__path {
						pointer-events: all;
					}
				}*/
			}

			&-menu {
				&__item {
					background: g.$text-black;
				}

				&__txt {
					color: g.$text-black;
				}
			}
		}
	}

	&.is-animation {
		background: g.$white;

		.l-header {
			&-logo {
				&__link {
					/*.__path {
						pointer-events: all;
					}*/
				}

				._normal_ {
					display: block;
				}
	
				._white_ {
					display: none;
				}	
			}

			&-nav {
				&__link {
					color: g.$text-black;

					@include g.hover {
						color: g.$baseColor;
					}

					&.active {
						color: g.$baseColor;
					}
				}
			}

			&-menu {
				&__item {
					background: g.$text-black;
				}

				&__txt {
					color: g.$text-black;
				}
			}
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		padding: 0 40px;
		@include g.transition;

		@media only screen and (min-width: 768px) and (max-width: 850px) {
			padding: 0 20px;
		}

		@include g.smMax {
			height: 75px;
			padding: 0 15px;
		}
	}

	&-logo {
		width: 288px;
		line-height: 0;

		@media only screen and (min-width: 768px) and (max-width: 955px) {
			width: 230px;
		}

		@include g.smMax {
			width: 170px;
		}

		&__link {
			display: block;

			.__elem {
				width: 100%;
			}

			._normal_ {
				display: none;
			}

			._white_ {
				display: block;
			}

			/*.__path {
				fill: g.$white;
				@include g.transition;
			}*/

			.__ico {
				width: 100% !important;
			}
		}
	}

	&-right {
		display: flex;
	}

	&-nav {
		margin: 0 80px 0 0;

		@media only screen and (min-width: 768px) and (max-width: 850px) {
			margin: 0 30px 0 0;
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(3, auto);
			gap: 0 40px;

			@media only screen and (min-width: 768px) and (max-width: 850px) {
				gap: 0 20px;
			}
		}

		&__link {
			color: g.$white;
			@include g.font-bold;

			@include g.hover {
				color: g.$baseColor;
			}

			&.active {
				color: g.$baseColor;
			}

			.__txt {
				background: none;
			}
		}
	}

	&-menu {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;
		@include g.transition;

		@include g.hover {
			.l-header {
				&-menu {
					&__item {
						background: g.$baseColor;
					}

					&__txt {
						color: g.$baseColor;
					}
				}
			}
		}

		&__inner {
			position: relative;
			width: 28px;
			height: 18px;
			z-index: 10;
			@include g.transition;
			margin: 0;
		}
		
		&__item {
			display: inline-block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: g.$white;
			@include g.radius(2);
			@include g.transition;
			
			&:nth-of-type(1) { top: 0; }
			&:nth-of-type(2) { top: 8px; }
			&:nth-of-type(3) { bottom: 0; }
		}
		&._active_ &__item {
			&:nth-of-type(1) { transform: translateY(9px) rotate(-315deg); }
			&:nth-of-type(2) { opacity: 0; }
			&:nth-of-type(3) { transform: translateY(-7px) rotate(315deg); } 
		}

		&._active_ {
			.l-header {
				&-menu {
					&__txt {
						&::before {
							content: "CLOSE";
						}
					}
				}
			}
		}

		&__txt {
			@include g.font-en;
			font-size: g.$fz-xl;
			font-weight: 500;
			color: g.$white;
			margin: 0 0 0 5px;
			@include g.transition;

			&::before {
				content: "MENU";
			}

			@include g.smMax {
				font-size: g.$fz-l;
			}
		}
	}
}
