@charset "utf-8";
@use "../../global/_" as g;
.c-index {
	/* visual */
	&-visual {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: relative;

		@include g.smMax {
			background: #ccc;
		}

		&__inner {
			max-width: 1418px;
			margin: 0 auto;
			padding: 0 30px 130px;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			flex-direction: column;
			position: relative;
			z-index: 2;
			color: g.$white;
			text-shadow: 0 0 10px rgba(g.$black, 0.5);
			font-size: g.$fz-xxl;
			@include g.font-bold;

			@include g.smMax {
				padding: 0 15px 50px;
				font-size: g.$fz-m;
			}

			.__ttl {
				margin: 0 0 10px;
			}

			.__txt {
				padding: 0 0 0 65px;

				@include g.smMax {
					padding: 0 0 0 10px;
				}
			}
		}
		
		&-slider {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			@include g.smMax {
				height: 100vh;
			}

			&__item {
				position: relative !important;
				height: 100vh !important;
				opacity: 1;
				z-index: 2;
				transform: scale(1);
				transition-duration: 2s,5s;
				transition-delay: 0s;
				transition-timing-function: cubic-bezier(0.65,0,0.35,1),cubic-bezier(0.33,1,0.68,1);

				.p-kv__glow {
					mask-image: url(/ikeda/common/img/index/bg_wave.svg);
					mask-position: left;
					mask-repeat: no-repeat;
					mask-clip: fill-box;
					mask-size: 100vw;
					position: relative;

					opacity: 0;
    				animation-delay: 5s;
	
					&::before {
						animation-delay: 5s;

						display: block;
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-image: repeating-linear-gradient(135deg,#121EB3 0%,rgba(255,255,255,0.7) 8%,#121EB3 16%,rgba(255,255,255,0.5) 24%,#121EB3 32%);
						background-size: 200% 200%;
						z-index: 1;
						mask-image: linear-gradient(220deg,rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
					}
					
				}

				.c-index-wave {
					mask-image: url(/ikeda/common/img/index/bg_wave.svg);
					mask-position: left;
					mask-repeat: no-repeat;
					mask-clip: fill-box;
					mask-size: 100vw;
					position: relative;

					width: 0;
					transition-property: width;
					transition-duration: 0s;
					transition-delay: 5s;
					will-change: width;
	
					&::before {
						display: block;
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: linear-gradient(90deg,#FFAB1A 0%,#FAFBFD 40%,#BEC1EA 48%,#898FD9 56%,#5E66CB 61%,#3D47C0 66%,#2530B9 73%,#1622B4 80%,#121EB3 85%);
						z-index: 1;
						mask-image: linear-gradient(90deg,rgb(255,255,255) 0%,rgb(255,255,255) 80%,rgba(255,255,255,0) 100%);
					}
				}
			}

			&__bg {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				@include g.smMax {
					height: 100vh;
				}
			}

			&__pic {
				position: absolute;
				top: 193px;
				right: 282px;
				z-index: 3;
				width: 987px;
				height: 628px;

				.__elem {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.slick-track {
			@include g.smMax {
				height: 100vh;
			}
		}
		
		.c-index-wave {
			opacity: 0;
			transform: scale(1.15);
			transition-property: opacity,transform;
			transition-duration: 0s;
			transition-delay: 4.5s;
			will-change: transform;
			/*position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			overflow: hidden;

			&__inner {
				position: relative;
				z-index: 2;
			}*/
		}

		&.slick-active {
			opacity: 1;
			z-index: 2;
			transform: scale(1);
			transition-duration: 2s,5s;
			transition-delay: 0s;
			transition-timing-function: cubic-bezier(0.65,0,0.35,1),cubic-bezier(0.33,1,0.68,1);

			.c-index-wave {
				width: calc(100vw + 20%);
				transition-duration: 1.5s;
				transition-delay: 1.2s;
				transition-timing-function: cubic-bezier(0.33,1,0.68,1);

				/*width: calc(100vw + 20%);
				transition-duration: 1.5s;
				transition-delay: 1.2s;
				transition-timing-function: cubic-bezier(0.33,1,0.68,1);*/

				/*mask-image: url(/ikeda/common/img/index/bg_wave.svg);
				mask-position: left;
				mask-repeat: no-repeat;
				mask-clip: fill-box;
				mask-size: 100vw;
				position: relative;*/

				&::before {
					/*display: block;
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: linear-gradient(90deg,#FFAB1A 0%,#FAFBFD 40%,#BEC1EA 48%,#898FD9 56%,#5E66CB 61%,#3D47C0 66%,#2530B9 73%,#1622B4 80%,#121EB3 85%);
					z-index: 1;
					mask-image: linear-gradient(90deg,rgb(255,255,255) 0%,rgb(255,255,255) 80%,rgba(255,255,255,0) 100%);*/
				}
				
				&__inner {
					&::before {
						/*animation: img-wrap 1.5s cubic-bezier(0.4, 0, 0.2, 1) 2s forwards;
						background: g.$white;
						content: '';
						inset: 0;
						pointer-events: none;
						position: absolute;
						z-index: 1;
						width: 100%;
						background-position: 0 0;*/

						
					}
					
					/*@keyframes img-wrap {
						100% {
							transform: translateX(100%);
						}
					}*/
				}	
			}

			.p-kv__glow {
				animation-name: glow;
				animation-duration: 2s;
				animation-delay: 1.75s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				&::before {
					animation-name: glow_bg;
					animation-duration: 5s;
					animation-delay: 0s;
					animation-direction: reverse;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;
					animation-timing-function: cubic-bezier(0.33,1,0.68,1);
				}
				
			}

			@keyframes glow {
				50% {
					opacity: 1;
				}
			
				to {
					opacity: 0;
				}
			}
			
			@keyframes glow_bg {
				to {
					background-position: 100% 100%;
				}
			}
		}
	}

	/* scrool */
	&-scroll {
		position: relative;
		max-width: 1260px;
		margin: -67px auto 0;
		padding: 0 30px;

		@include g.smMax {
			margin: -45px auto 0;
			padding: 0 15px;
		}

		&__inner {
			width: 141px;
			height: 140px;
			margin: 0 0 0 auto;
			position: relative;

			@include g.smMax {
				width: 101px;
				height: 100px;
			}
		}

		&__bg {
			height: auto;
			width: 100%;
			animation: rotate 15s linear infinite;
			position: absolute;
			top: 0;
			right: 0;
		}
		  
		&__ico {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			.__ico {
				width: 43px;
				height: 43px;
			}
		}
		  
		@keyframes rotate {
			0% {
			transform: rotate(0);
			}
			100% {
			transform: rotate(360deg);
			}
		}
	}

	/* 事業内容 */
	&-business {
		padding: 45px 0 0;
		margin: 0 0 110px;

		@include g.smMax {
			padding: 20px 0 0;
			margin: 0 0 40px;
		}

		&__inner {
			max-width: 1260px;
			padding: 0 30px;
			margin: 0 auto 105px;
			position: relative;
			z-index: 2;

			@include g.smMax {
				padding: 0 15px;
				margin: 0 auto 50px;
			}
		}

		&-detail {
			display: flex;
			justify-content: space-between;
			margin: 0 0 85px;

			@include g.smMax {
				flex-direction: column;
				margin: 0 0 40px;
			}

			.e-h2 {
				margin: 0;

				@include g.smMax {
					margin: 0 0 20px;
				}
			}

			&__txt {
				padding: 60px 0 0;

				@include g.smMax {
					padding: 0;
				}
			}
		}

		&-list {
			margin: 0 0 85px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			height: 490px;

			@include g.smMax {
				margin: 0 0 40px;
				grid-template-columns: repeat(1, 1fr);
				row-gap: 2px;
				height: auto;
			}

			&__item {
				@include g.smMax {
					height: 150px;
				}

				&._collection_ {
					.c-index-business-list__link {
						border-radius: 20px 0 0 20px;

						@include g.smMax {
							border-radius: 10px 10px 0 0;
						}

						&::after {
							background: url(/ikeda/common/img/index/bg_collection.jpg) center center no-repeat;
							background-size: cover;
						}
					}
				}

				&._disposal_ {
					.c-index-business-list__link {
						&::after {
							background: url(/ikeda/common/img/index/bg_disposal.jpg) center center no-repeat;
							background-size: cover;
						}
					}
				}

				&._flow_ {
					.c-index-business-list__link {
						border-radius: 0 20px 20px 0;

						@include g.smMax {
							border-radius: 0 0 10px 10px;
						}

						&::after {
							background: url(/ikeda/common/img/index/bg_flow.jpg) center center no-repeat;
							background-size: cover;
						}
					}
				}
			}

			&__link {
				display: inline-flex;
				justify-content: flex-start;
				align-items: flex-end;
				width: 100%;
				height: 100%;
				padding: 45px 35px;
				overflow: hidden;
				position: relative;
				color: g.$white;
				font-size: g.$fz-xxxl;
				@include g.font-bold;
				line-height: 1.4;

				@media only screen and (min-width: 768px) and (max-width: 1110px) {
					padding: 45px 20px;
				}

				@include g.smMax {
					padding: 20px 15px;
					font-size: g.$fz-xl;
				}

				&::after {
					position: absolute;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					transition: all .3s ease-out;
				}
				
				@include g.hover {
					&::after {
						transform: scale(1.1);
					}

					.__arrow {
						background: g.$baseColor;
						color: g.$white;
					}

					.__ico {
						@include g.radius(50);

						&::before {
							animation-name: transformRightLeft;
							animation-delay: 0s;
						}

						&::after {
							animation-name: transformLeftRight;
							animation-delay: 0.1s;
						}
					}

					@keyframes transformLeftRight {
						0% {
							transform: translateX(-100%);
						}
						100% {
							transform: translateX(0);
						}
					}
					@keyframes transformRightLeft {
						0% {
							transform: translateX(0);
						}
						100% {
							transform: translateX(100%);
						}
					}
				}
			}

			&__inner {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				z-index: 2;

				.__ttl {
					text-shadow: 0 0 10px rgba(g.$black, 0.5);
					width: calc((100% - 30px) - 10px);

					@include g.smMax {
						text-shadow: 0 0 10px rgba(g.$black, 0.5),0 0 10px rgba(g.$black, 0.5),0 0 10px rgba(g.$black, 0.5);
					}

					@media only screen and (min-width: 768px) and (max-width: 1130px) {
						br {
							display: none;
						}
					}
				}

				.__arrow {
					position: relative;
					width: 30px;
					height: 30px;
					background: g.$white;
					@include g.radius(50);
					color: g.$baseColor;
					overflow: hidden;
					z-index: 2;
					font-size: g.$fz-s;
					transition: all .3s ease-out;

					@include g.smMax {
						box-shadow: 0 0 10px rgba(g.$black, 0.5);
					}

					.__ico {
						overflow: hidden;
						position: absolute;
						top: 50%;
						left: 50%;
						bottom: 0;
						transform: translate(-50%, -50%);
						margin: auto;
						line-height: 1;
						width: 13px;
						height: 14px;

						@include g.smMax {
							line-height: 0.9;
						}

						@media only screen and (min-width: 768px) and (max-width: 890px) {
							width: 11px;
							line-height: 1.3;
						}

						&::before ,
						&::after {
						  position: absolute;
						  top: 0;
						  right: 0;
						  animation-fill-mode: forwards;
						  animation-duration: 0.4s;
						  font-family: 'icomoon';
						  content: "\e900";
						}

						&::after {
							transform: translateX(-100%);
						}
					}
				}
			}
		}
	}

	/* 会社情報 */
	&-company {
		margin: 0 0 180px;
		position: relative;

		@include g.smMax {
			margin: 0 0 60px;
		}

		&-img {
			width: 100%;
			height: 500px;
			overflow: hidden;
			z-index: 1;
			display: grid;

			@include g.smMax {
				height: 250px;
				margin: 0 0 30px;
			}

			&__item {
				transition: all .7s;
				position: relative;
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				grid-column: 1;
				grid-row: 1;

				&.isShow {
					opacity: 1;
					visibility: visible;
				}

				.__elem {
					aspect-ratio: 1920/500;
					width: 100%;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
				}
			}
		}

		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			max-width: 1260px;
			margin: 0 auto;
			padding: 0 30px;

			@include g.smMax {
				padding: 0 15px;
				flex-direction: column;
			}
		}
		
		&-txt {
			width: calc((100% - 66.67%) - 100px);

			@media only screen and (min-width: 768px) and (max-width: 1275px) {
				width: calc((100% - 66.67%) - 50px);
			}

			@include g.smMax {
				width: 100%;
				margin: 0 0 30px;
			}

			@media only screen and (min-width: 768px) and (max-width: 1275px) {
				.e-btn-arrow {
					min-width: auto;
					width: 100%;
				}
			}

			.e-h2 {
				@media only screen and (min-width: 768px) and (max-width: 890px) {
					margin: 0 0 30px;
				}
			}
		}

		&-detail {
			width: 66.67%;
			margin: -90px 0 0;
			padding: 80px 90px;
			@include g.radius(20);
			background: g.$white;
			box-shadow: 0 0 10px 0 rgba(g.$black, 0.1);

			@media only screen and (min-width: 768px) and (max-width: 890px) {
				padding: 40px 45px;
			}

			@include g.smMax {
				width: 100%;
				margin: 0;
				padding: 30px 25px 40px;
			}

			&__ttl {
				font-size: 2.8rem;
				@include g.font-bold;
				margin: 0 0 25px;

				@include g.smMax {
					margin: 0 0 15px;
					font-size: g.$fz-xxxl;
				}
			}

			&__txt {
				margin: 0 0 50px;

				@include g.smMax {
					margin: 0 0 15px;
				}
			}

			&__list {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 30px 30px;

				@include g.smMax {
					grid-template-columns: repeat(1, 1fr);
					gap: 0 15px;
				}
			}

			&__link {
				display: flex;
				align-items: center;
				position: relative;
				padding: 0 0 10px;

				@include g.smMax {
					padding: 10px 0;
				}

				&::before ,
				&::after {
					display: block;
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 2px;
					background: g.$line-gray;
					z-index: 1;
				}

				&::after {
					background: g.$baseColor;
					transform: scaleX(0);
					transform-origin: left;
					transition-property: transform;
					transition-duration: 0.5s;
					transition-timing-function: cubic-bezier(0.87,0,0.13,1)
				}

				.__txt {
					font-size: 2.3rem;
					@include g.font-bold;
					color: g.$text-black;
					background: none;

					@include g.smMax {
						font-size: g.$fz-xl;
					}
				}

				.__arrow {
					position: absolute;
					top: 50%;
					right: 0;
					width: 15px;
					height: 17px;
					transform: translate(0, -50%);
					margin: auto 0;
					line-height: 1;
					overflow: hidden;
					font-size: g.$fz-m;

					@media only screen and (min-width: 768px) and (max-width: 890px) {
						width: 12px;
					}

					&::before ,
					&::after {
						position: absolute;
						top: 0;
						right: 0;
						animation-fill-mode: forwards;
						animation-duration: 0.4s;
						font-family: 'icomoon';
						content: "\e900";
					}

					&::after {
						transform: translateX(-100%);
					}
				}

				@include g.hover {
					&::after {
						transform: scaleX(1);
						transform-origin: left;
						transition-timing-function: cubic-bezier(0.16,1,0.3,1)
					}

					.__arrow {
						&::before {
							animation-name: transformRightLeft;
							animation-delay: 0s;
						}
	
						&::after {
							animation-name: transformLeftRight;
							animation-delay: 0.1s;
						}
					}
					
					@keyframes transformLeftRight {
						0% {
							transform: translateX(-100%);
						}
						100% {
							transform: translateX(0);
						}
					}
					@keyframes transformRightLeft {
						0% {
							transform: translateX(0);
						}
						100% {
							transform: translateX(100%);
						}
					}
				}
			}

			&__ico {
				font-size: 3.0rem;
				margin: 0 20px 0 0;

				@include g.smMax {
					font-size: g.$fz-xxxl;
				}
			}
		}
	}
}
