@charset "utf-8";
@use "../../global/_" as g;
.e-h2 {
	margin: 0 0 50px;
	color: g.$baseColor;
	font-size: g.$fz-xxxl;
	line-height: 1.4;
	@include g.font-bold;
	position: relative;
	padding: 70px 0 0;

	&._center_ {
		text-align: center;

		&::before {
			@include g.centering-elements(true, false);
			left: 50%;
		}
	}

	@include g.smMax {
	}

	&::before {
		position: absolute;
		content: attr(data-en);
		top: 0;
		left: 0;
		font-size: 9.6rem;
		color: g.$baseColor;
		@include g.font-en;
		font-style: italic;
		font-weight: 500;
		line-height: 0.5;

		@include g.smMax {
			font-size: g.$fz-l;
		}
	}
}
