@charset "utf-8";
@use "../../global/_" as g;
.e-list-number {
	counter-reset: number 0;
	&__item {
		position: relative;
		padding-left: 1.2em;
		
		&:not(:first-child) {
			margin-top: 5px;
		}
		&::before {
			counter-increment: number;
			content: counter(number)".";
			color: g.$baseColor;
			display: block;
			position: absolute;
			left: 0;
			font-weight: 700;
		}
	}
	&._red_ &__item {
		&::before {
			color: g.$red;
		}
	}

	&._mt20_ {
		.e-list-number__item {
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}

	&._m40_ {
		margin: 40px 0;
	}
}
