@charset "utf-8";
@use "../../../global/_" as g;
.e-form-text {
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
	background: g.$bg-gray;
	border: none;
	color: g.$text-black;
	@include g.radius(2);
	font-size: g.$fz-m;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	
	&._w-m_ {
		max-width: 640px;
	}
	&._w-s_ {
		max-width: 295px;
	}
	&._w-a_ {
		width: auto;
	}

	&::placeholder ,
	&::-moz-placeholder ,
	&:-ms-input-placeholder ,
	&::-webkit-input-placeholder {
		color: g.$gray;
		opacity: 1;
		font-weight: 400;
	}
}
