<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>3カラムレイアウトサンプル</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1280px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1 _default_">
				<div class="e-h1__inner">
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__en">Template</h1>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->		
			

			<!-- .l-contents -->
			<main class="l-contents _col3_">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!-- .l-contents__body -->
					<article class="l-contents__body">
						<!--============================================== template-nav -->
						<!--#include virtual="/forestess/template/template-nav.html" -->
						<!--============================================== /template-nav -->
						
						<section class="u-mb-l">
							<h2 class="e-h2" data-en="Title">class="e-h2" 大見出し大見出し</h2>
							<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、</p>
						</section>
						
						<section class="u-mb-l">
							<h3 class="e-h3">class="e-h3" 中見出し中見出し中見出し中見出し</h3>
							<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、</p>
						</section>

						<section class="u-mb-l">
							<h4 class="e-h4">class="e-h4" 小見出し小見出し小見出し小見出し小見出し小見出し</h4>
							<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、</p>
						</section>

						<section class="u-mb-l">
							<h5 class="e-h5">class="e-h5" 小見出し小見出し小見出し小見出し小見出し小見出し</h5>
							<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、</p>
						</section>

						<section class="u-mb-l">
							<h6 class="e-h6">class="e-h6" 小見出し小見出し小見出し小見出し小見出し小見出し</h6>
							<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、</p>
						</section>
					</article>
					<!-- .l-contents__body -->


					<!-- .l-contents__left -->
					<aside class="l-contents__left">
						<div class="c-grid">
							<div class="__col _col-12_ _col-md-3_ _col-sm-6_">
								<a href="#" target="_blank"><img src="http://placehold.jp/30/dddddd/999999/350x160.png?text=banner" alt="" class="u-mw100p"></a>
							</div>
							<div class="__col _col-12_ _col-md-3_ _col-sm-6_">
								<a href="#" target="_blank"><img src="http://placehold.jp/30/dddddd/999999/350x160.png?text=banner" alt="" class="u-mw100p"></a>
							</div>
							<div class="__col _col-12_ _col-md-3_ _col-sm-6_">
								<a href="#" target="_blank"><img src="http://placehold.jp/30/dddddd/999999/350x160.png?text=banner" alt="" class="u-mw100p"></a>
							</div>
							<div class="__col _col-12_ _col-md-3_ _col-sm-6_">
								<a href="#" target="_blank"><img src="http://placehold.jp/30/dddddd/999999/350x160.png?text=banner" alt="" class="u-mw100p"></a>
							</div>
						</div>
					</aside>
					<!-- .l-contents__left -->


					<!-- .l-contents__right -->
					<aside class="l-contents__right"> 
						<nav class="c-snav">
							<h2 class="c-snavHead">
								<a href="#" class="c-snavHead__link"><span class="__txt">カテゴリ名</span></a>
							</h2>
							<div class="c-snavBody">
								<ul class="c-snavList">
									<li class="c-snavList__item">
										<a href="#" class="c-snavList__link">
											<span class="__txt">ページタイトル</span>
											<span class="__ico icon-angle-right" aria-hidden="true"></span>
										</a>
									</li>
									<li class="c-snavList__item">
										<a href="#" class="c-snavList__link">
											<span class="__txt">ページタイトル</span>
											<span class="__ico icon-angle-right" aria-hidden="true"></span>
										</a>
									</li>
									<li class="c-snavList__item">
										<a href="#" class="c-snavList__link">
											<span class="__txt">ページタイトル</span>
											<span class="__ico icon-angle-right" aria-hidden="true"></span>
										</a>
									</li>
									<li class="c-snavList__item">
										<a href="#" class="c-snavList__link">
											<span class="__txt">ページタイトル</span>
											<span class="__ico icon-angle-right" aria-hidden="true"></span>
										</a>
									</li>
									<li class="c-snavList__item">
										<a href="#" class="c-snavList__link">
											<span class="__txt">ページタイトル</span>
											<span class="__ico icon-angle-right" aria-hidden="true"></span>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</aside>
					<!-- /.l-contents__right -->
					
				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</main>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>