<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：リンク</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/ikeda/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/ikeda/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1">
				<div class="e-h1__inner">
					<!-- .c-breadcrumb -->
					<nav class="c-breadcrumb inview fadeup">
						<ul class="c-breadcrumb__inner">
							<li class="c-breadcrumb__item"><a href="/ikeda/" class="c-breadcrumb__link">TOP</a></li>
							<li class="c-breadcrumb__item">テンプレート</li>
							<li class="c-breadcrumb__item">リンク</li>
						</ul>
					</nav>
					<!-- /.c-breadcrumb -->
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__jp">リンク</h1>
						<span class="__en">Link</span>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->

			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/ikeda/template/template-nav.html" -->
					<!--============================================== /template-nav -->
				
				<h2 class="e-h2" data-en="Text Link">テキストリンク</h2>
				<a href="dummy" class="e-a-txt-arrow u-mb-xxxs">
					
					<span class="__txt">親譲りの無鉄砲で小供の時から損ばかりしている。</span>
				</a>
				<a href="dummy" class="e-a-txt-arrow">
					<span class="__ico icon-angle-right" aria-hidden="true"></span>
					<span class="__txt">1親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
					<span class="__ico icon-filter_none"><span class="__hidden">別ウィンドウで開く</span></span>
				</a>
				<div class="pre">
					<pre><code>&lt;a href="dummy" class="e-a-txt-arrow"&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;親譲りの無鉄砲で小供の時から損ばかりしている。&lt;/span&gt;
&lt;/a&gt;

&lt;a href="dummy" class="e-a-txt-arrow"&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;1親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ&lt;/span&gt;
	&lt;span class="__ico icon-filter_none"&gt;&lt;span class="__hidden"&gt;別ウィンドウで開く&lt;/span&gt;&lt;/span&gt;
&lt;/a&gt;</code></pre>
				</div>
				
				
				<div>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。<a href="dummy">なぜそんな無闇をしたと聞く人があるかも知れぬ。</a>別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。<a href="dummy">弱虫やーい。と囃したからである<span class="icon-filter_none"><span class="__hidden">別ウィンドウで開く</span></span></a>。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）</div>
				<div class="pre">
					<pre><code>&lt;div&gt;親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。&lt;a href="dummy"&gt;なぜそんな無闇をしたと聞く人があるかも知れぬ。&lt;/a&gt;別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。&lt;a href="dummy"&gt;弱虫やーい。と囃したからである&lt;span class="icon-filter_none"&gt;&lt;span class="__hidden"&gt;別ウィンドウで開く&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）&lt;/div&gt;</code></pre>
				</div>
			
				
				<h2 class="e-h2" data-en="Button">ボタン</h2>
				<h3 class="e-h3">サイトカラー　class="e-btn"</h3>
				<div>
					<a href="#" class="e-btn js-splitText">
						Link
					</a>
					<button class="e-btn js-splitText">
						Link
					</button>
					<button class="e-btn js-splitText _disabled_" disabled>
						disabled
					</button>
				</div>
				<div class="pre">
					<pre><code>&lt;a href="#" class="e-btn"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;button class="e-btn"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/button&gt;

&lt;button class="e-btn _disabled_" disabled&gt;
	&lt;span class="__txt"&gt;disabled&lt;/span&gt;
&lt;/button&gt;</code></pre>
				</div>
				
				<h3 class="e-h3">サイトカラー・矢印あり　class="e-btn-arrow"</h3>
				<div>
					<a href="#" class="e-btn-arrow js-splitText _arrow-right_">
						Link
					</a>
					<a href="#" class="e-btn-arrow js-splitText _arrow-left_">
						Link
					</a>
					<button class="e-btn-arrow _disabled_ js-splitText" disabled>
						disabled
					</button>
					<button class="e-btn-arrow _disabled_ js-splitText" disabled>
						disabled
					</button>
				</div>
				<div class="pre">
					<pre><code>&lt;a href="#" class="e-btn-arrow"&gt;
	&lt;span class="__ico icon-angle-left" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/a&gt;

&lt;button class="e-btn-arrow _disabled_" disabled&gt;
	&lt;span class="__ico icon-angle-left" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;disabled&lt;/span&gt;
&lt;/button&gt;

&lt;button class="e-btn-arrow _disabled_" disabled&gt;
	&lt;span class="__txt"&gt;disabled&lt;/span&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/button&gt;</code></pre>
				</div>
				
				<h3 class="e-h3">黄色　class="e-btn _yellow_"</h3>
				<div>
					<a href="#" class="e-btn _yellow_ js-splitText">
						Link
					</a>
					<a href="#" class="e-btn-arrow _yellow_ js-splitText _arrow-right_">
						Link
					</a>
					<a href="#" class="e-btn-arrow _yellow_ js-splitText _arrow-left_">
						Link
					</a>
					<button class="e-btn _yellow_ _disabled_ js-splitText" disabled>
						disabled
					</button>
				</div>
				<div class="pre">
					<pre><code>&lt;a href="#" class="e-btn _yellow_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _yellow_"&gt;
	&lt;span class="__ico icon-angle-left" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _yellow_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/a&gt;

&lt;button class="e-btn _yellow_ _disabled_" disabled&gt;
	&lt;span class="__txt"&gt;disabled&lt;/span&gt;
&lt;/button&gt;</code></pre>
				</div>

			
				<h3 class="e-h3">サイズ-大　class="e-btn _w-l_"</h3>
				<div>
					<a href="#" class="e-btn _w-l_ js-splitText">
						Link
					</a>
					<a href="#" class="e-btn-arrow _w-l_ js-splitText _arrow-right_">
						Link
					</a>
					<a href="#" class="e-btn-arrow _w-l_ js-splitText _arrow-left_">
						Link
					</a>
				</div>
				<div class="pre">
					<pre><code>&lt;a href="#" class="e-btn _w-l_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _w-l_"&gt;
	&lt;span class="__ico icon-angle-left" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _w-l_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/a&gt;</code></pre>
				</div>
			
				<h3 class="e-h3">サイズ-小　class="e-btn _w-s_"</h3>
				<div>
					<a href="#" class="e-btn _w-s_ js-splitText">
						Link
					</a>
					<a href="#" class="e-btn-arrow _w-s_ js-splitText _arrow-right_">
						Link
					</a>
					<a href="#" class="e-btn-arrow _w-s_ js-splitText _arrow-left_">
						Link
					</a>
				</div>
				<div class="pre">
					<pre><code>&lt;a href="#" class="e-btn _w-s_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _w-s_"&gt;
	&lt;span class="__ico icon-angle-left" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#" class="e-btn-arrow _w-s_"&gt;
	&lt;span class="__txt"&gt;Link&lt;/span&gt;
	&lt;span class="__ico icon-angle-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/a&gt;</code></pre>
				</div>
			

				<h2 class="e-h2" data-en="Pagination">ページネーション　 class="m-pagination"</h2>
				<ul class="m-pagination">
					<li class="m-pagination__item"><a href="#" class="m-pagination__link"><span class="__ico icon-arrow-left"><span class="__hidden">前のページに戻る</span></span></a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">1</a></li>
					<li class="m-pagination__item"><span class="m-pagination__link _current_">2</span></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">3</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">4</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">5</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">6</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">7</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">8</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">9</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link">10</a></li>
					<li class="m-pagination__item"><a href="#" class="m-pagination__link"><span class="__ico icon-arrow-right"><span class="__hidden">次のページに進む</span></span></a></li>
				</ul>
				<div class="pre">
					<pre><code>&lt;ul class="m-pagination"&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;&lt;span class="__ico icon-angle-left"&gt;&lt;span class="__hidden"&gt;前のページに戻る&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;span class="m-pagination__link _current_"&gt;2&lt;/span&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;4&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;6&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;7&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;8&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;9&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;10&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pagination__item"&gt;&lt;a href="#" class="m-pagination__link"&gt;&lt;span class="__ico icon-angle-right"&gt;&lt;span class="__hidden"&gt;次のページに進む&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>

				<h2 class="e-h2" data-en="Pager">ページャー　 class="m-pager"</h2>
				<ul class="m-pager">
					<li class="m-pager__item _prev_"><a href="#" class="m-pager__link" aria-label="Previous Page">前の記事へ</a></li>
					<li class="m-pager__item _list_"><a href="#" class="m-pager__link">一覧へ</a></li>
					<li class="m-pager__item _next_"><a href="#" class="m-pager__link" aria-label="Next Page">次の記事へ</a></li>
				</ul>
				<div class="pre">
					<pre><code>&lt;ul class="m-pager"&gt;
	&lt;li class="m-pager__item _prev_"&gt;&lt;a href="#" class="m-pager__link" aria-label="Previous Page"&gt;前の記事へ&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pager__item _list_"&gt;&lt;a href="#" class="m-pager__link"&gt;一覧へ&lt;/a&gt;&lt;/li&gt;
	&lt;li class="m-pager__item _next_"&gt;&lt;a href="#" class="m-pager__link" aria-label="Next Page"&gt;次の記事へ&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>
				

				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-bottom -->
				<!--#include virtual="/ikeda/common/inc/c-contact-bottom.html" -->
				<!--============================================== /c-contact-bottom -->
			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/ikeda/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/ikeda/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>