<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：グリッド</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1280px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1 _default_">
				<div class="e-h1__inner">
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__en">Template</h1>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->
			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/forestess/template/template-nav.html" -->
					<!--============================================== /template-nav -->
				
			
				<h2 class="e-h2" data-en="Column">カラム制御</h2>
				<div class="c-grid">
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
					<div class="__col _col-1_ _col-lg-2_ _col-md-3_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-1_<br>._col-lg-2_<br>._col-md-3_<br>._col-sm-6_</div></div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid"&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-1_ _col-md-3_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-1_&lt;br&gt;._col-md-3_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>
				
				<div class="c-grid">
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
					<div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"><div class="m-box _gray_ _line-gray_">._col-2_<br>._col-lg-3_<br>._col-md-4_<br>._col-sm-6_</div></div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid"&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-2_ _col-lg-3_ _col-md-4_ _col-sm-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-2_&lt;br&gt;._col-lg-3_&lt;br&gt;._col-md-4_&lt;br&gt;._col-sm-6_&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>
				
				<div class="c-grid">
					<div class="__col _col-6_"><div class="m-box _gray_ _line-gray_">._col-6_</div></div>
					<div class="__col _col-6_"><div class="m-box _gray_ _line-gray_">._col-6_</div></div>
					<div class="__col _col-4_"><div class="m-box _gray_ _line-gray_">._col-4_</div></div>
					<div class="__col _col-4_"><div class="m-box _gray_ _line-gray_">._col-4_</div></div>
					<div class="__col _col-4_"><div class="m-box _gray_ _line-gray_">._col-4_</div></div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid"&gt;
	&lt;div class="__col _col-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-6_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-6_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-4_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-4_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-4_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-4_&lt;/div&gt;&lt;/div&gt;
	&lt;div class="__col _col-4_"&gt;&lt;div class="m-box _gray_ _line-gray_"&gt;._col-4_&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>
				
				<h2 class="e-h2" data-en="Column">カラム制御-等幅</h2>
				<div class="m-box _gray_ u-mb-l">
					<ul class="e-list _circle_">
						<li class="e-list-circle__item">余白等はデザインに合わせて適宜設定をお願いいたします。</li>
						<li class="e-list-circle__item">SP表示は2カラムを基本とします。<br>
							SP表示のみ1カラムにしたい場合は div.c-grid に ._sp-col1_ を付与してください。<br>
							例：&lt;div class="c-grid _col3_ _sp-col1_"&gt;</li>
					</ul>
				</div>

				<h3 class="e-h3">2カラム class="c-grid _col2_"</h3>
				<div class="c-grid _col2_">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid _col2_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/800x300.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>

				<h3 class="e-h3">3カラム class="c-grid _col3_"</h3>
				<div class="c-grid _col3_">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid _col3_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x350.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>

				<h3 class="e-h3">4カラム class="c-grid _col4_"</h3>
				<p class="u-mb-m u-fw-b u-c-red">※ ._auto-fit_　付与でブラウザ幅によるカラム数調整可能です。</p>
				<div class="c-grid _col4_ u-mb-l">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="c-grid _col4_ _auto-fit_">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid _col4_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class="c-grid _col4_ _auto-fit_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

【SASSの記述】
&._auto-fit_ {
	@include mdMax {
		grid-template-columns: repeat(3, 1fr);
	}
}
もしくは
&._auto-fit_ {
	@include mdMax {
		// ブラウザ幅 769px で 3カラムを想定。
		// minmax値は calc、vwが使用できないため 計算して数値を入れてください。
		grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
	}
}</code></pre>
				</div>

				<h3 class="e-h3">5カラム class="c-grid _col5_"</h3>
				<p class="u-mb-m u-fw-b u-c-red">※ ._auto-fit_　付与でブラウザ幅によるカラム数調整可能です。</p>
				<div class="c-grid _col5_ u-mb-l">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="c-grid _col5_ _auto-fit_">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid _col5_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class="c-grid _col5_ _auto-fit_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

【SASSの記述】
&._auto-fit_ {
	@include mdMax {
		grid-template-columns: repeat(3, 1fr);
	}
}
もしくは
&._auto-fit_ {
	@include mdMax {
		// ブラウザ幅 769px で 3カラムを想定。
		// minmax値は calc、vwが使用できないため 計算して数値を入れてください。
		grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
	}
}</code></pre>
				</div>

				<h3 class="e-h3">6カラム class="c-grid _col6_"</h3>
				<p class="u-mb-m u-fw-b u-c-red">※ ._auto-fit_　付与でブラウザ幅によるカラム数調整可能です。</p>
				<div class="c-grid _col6_ u-mb-l">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="c-grid _col6_ _auto-fit_">
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
					<div class="__col">
						<img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt="">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="c-grid _col6_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class="c-grid _col6_ _auto-fit_"&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="__col"&gt;
		&lt;img loading="lazy" src="https://placehold.jp/600x400.png" class="u-mb-xxs" alt=""&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;

【SASSの記述】
&._auto-fit_ {
	@include mdMax {
		grid-template-columns: repeat(3, 1fr);
	}
}
もしくは
&._auto-fit_ {
	@include mdMax {
		// ブラウザ幅 769px で 3カラムを想定。
		// minmax値は calc、vwが使用できないため 計算して数値を入れてください。
		grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
	}
}</code></pre>
				</div>

				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>