<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>メディアクエリサンプル</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style>
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
			@media screen and (max-width:415px) {
				.xsMax td {
					background: #9ACDE7;
				}
			}
			@media screen and (max-width:768px) {
				.smMax td {
					background: #9ACDE7;
				}
			}
			@media screen and (max-width:1024px) {
				.mdMax td {
					background: #9ACDE7;
				}
			}
			@media screen and (max-width:1280px) {
				.lgMax td {
					background: #9ACDE7;
				}
			}
			@media print, screen and (min-width:416px) {
				.xsMin td {
					background: #F3C759;
				}
			}
			@media print, screen and (min-width:769px) {
				.smMin td {
					background: #F3C759;
				}
			}
			@media print, screen and (min-width:1025px) {
				.mdMin td {
					background: #F3C759;
				}
			}
			@media print, screen and (min-width:1281px) {
				.lgMin td {
					background: #F3C759;
				}
			}
			@media screen and (min-width:769px) and (max-width:1024px) {
				.smBtMd td {
					background: #C0D860;
				}
			}
		</style>
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/forestess/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->
			
			<!-- .e-h1 -->
			<div class="e-h1">
				<div class="e-h1__inner">
					<!-- .c-breadcrumb -->
					<nav class="c-breadcrumb inview fadeup">
						<ul class="c-breadcrumb__inner">
							<li class="c-breadcrumb__item"><a href="/forestess/" class="c-breadcrumb__link">TOP</a></li>
							<li class="c-breadcrumb__item">テンプレート</li>
							<li class="c-breadcrumb__item">メディアクエリサンプル</li>
						</ul>
					</nav>
					<!-- /.c-breadcrumb -->
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__jp">メディアクエリサンプル</h1>
						<span class="__en">Media Queries</span>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->		
			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/forestess/template/template-nav.html" -->
					<!--============================================== /template-nav -->

				<div class="u-xs-min u-mb-xxs">416px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-sm-min u-mb-xxs">769px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-md-min u-mb-xxs">1025px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-lg-min u-mb-s">1281px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-xs-max u-mb-xxs">415px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-sm-max u-mb-xxs">768px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-md-max u-mb-xxs">1024px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="u-lg-max u-mb-s">1280px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="pre">
					<pre><code>&lt;div class="u-xs-min"&gt;416px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-sm-min"&gt;769px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-md-min"&gt;1025px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-lg-min"&gt;1281px以上で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;

&lt;div class="u-xs-max"&gt;415px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-sm-max"&gt;768px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-md-max"&gt;1024px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;
&lt;div class="u-lg-max"&gt;1280px以下で表示されます。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/div&gt;</code></pre>
				</div>
				
				<table class="m-table">
					<thead>
						<tr>
							<th class="_al-c_">Sass上の記述</th>
							<th class="_al-c_">生成されるコード</th>
							<th class="_al-c_">適用範囲</th>
							<th class="_al-c_">適用外</th>
						</tr>
					</thead>
					<tbody>
						<tr class="xsMax">
							<td>@include xsMax { }</td>
							<td>@media screen and (max-width:415px) { }</td>
							<td class="_al-c_">415px 以下</td>
							<td class="_al-c_">416px 以上</td>
						</tr>
						<tr class="smMax">
							<td>@include smMax { }</td>
							<td>@media screen and (max-width:768px) { }</td>
							<td class="_al-c_">768px 以下</td>
							<td class="_al-c_">769px 以上</td>
						</tr>
						<tr class="mdMax">
							<td>@include mdMax { }</td>
							<td>@media screen and (max-width:1024px) { }</td>
							<td class="_al-c_">1024px 以下</td>
							<td class="_al-c_">1025px 以上</td>
						</tr>
						<tr class="lgMax">
							<td>@include lgMax { }</td>
							<td>@media screen and (max-width:1280px) { }</td>
							<td class="_al-c_">1280px 以下</td>
							<td class="_al-c_">1281px 以上</td>
						</tr>
						<tr class="xsMin">
							<td>@include xsMin { }</td>
							<td>@media print, screen and (min-width:416px) { }</td>
							<td class="_al-c_">416px 以上</td>
							<td class="_al-c_">415px 以下</td>
						</tr>
						<tr class="smMin">
							<td>@include smMin { }</td>
							<td>@media print, screen and (min-width:769px) { }</td>
							<td class="_al-c_">769px 以上</td>
							<td class="_al-c_">768px 以下</td>
						</tr>
						<tr class="mdMin">
							<td>@include mdMin { }</td>
							<td>@media print, screen and (min-width:1025px) { }</td>
							<td class="_al-c_">1025px 以上</td>
							<td class="_al-c_">1024px 以下</td>
						</tr>
						<tr class="lgMin">
							<td>@include lgMin { }</td>
							<td>@media print, screen and (min-width:1281px) { }</td>
							<td class="_al-c_">1281px 以上</td>
							<td class="_al-c_">1280px 以下</td>
						</tr>
						<tr class="smBtMd">
							<td>@include smBtMd { }</td>
							<td>@media screen and (min-width:769px) and (max-width:1024px) { }</td>
							<td class="_al-c_">769px 以上<br>1024px 以下</td>
							<td class="_al-c_">768px 以下<br>1025px 以上</td>
						</tr>
					</tbody>
				</table>
				<div class="pre">
					<pre><code>@include xsMax { background: #9ACDE7; }
@include smMax { background: #9ACDE7; }
@include mdMax { background: #9ACDE7; }
@include lgMax { background: #9ACDE7; }
@include xsMin { background: #F3C759; }
@include smMin { background: #F3C759; }
@include mdMin { background: #F3C759; }
@include lgMin { background: #F3C759; }
@include smBtMd { background: #C0D860; }</code></pre>
				</div>


				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</div>
			<!-- /.l-contents -->


			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>
		
		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>