<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：リスト</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1">
				<div class="e-h1__inner">
					<!-- .c-breadcrumb -->
					<nav class="c-breadcrumb inview fadeup">
						<ul class="c-breadcrumb__inner">
							<li class="c-breadcrumb__item"><a href="/forestess/" class="c-breadcrumb__link">TOP</a></li>
							<li class="c-breadcrumb__item">テンプレート</li>
							<li class="c-breadcrumb__item">リスト</li>
						</ul>
					</nav>
					<!-- /.c-breadcrumb -->
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__jp">リスト</h1>
						<span class="__en">List</span>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->		
			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/forestess/template/template-nav.html" -->
					<!--============================================== /template-nav -->
			
				
				<h2 class="e-h2" data-en="List Circle">丸　class="e-list-circle"</h2>
				<ul class="e-list-circle u-mb-m">
					<li class="e-list-circle__item">あああああああああああああああああああ</li>
					<li class="e-list-circle__item">あああああああああああああああああああ</li>
					<li class="e-list-circle__item">ああああああああああ</li>
				</ul>
				<ul class="e-list-circle _black_">
					<li class="e-list-circle__item">あああああああああああああああああああ</li>
					<li class="e-list-circle__item">あああああああああああああああああああ</li>
					<li class="e-list-circle__item">ああああああああああ</li>
				</ul>
				<div class="pre">
					<pre><code>&lt;ul class="e-list-circle"&gt;
	&lt;li class="e-list-circle__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-circle__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-circle__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class="e-list-circle _black_"&gt;
	&lt;li class="e-list-circle__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-circle__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-circle__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
				</div>
				

				<h2 class="e-h2" data-en="List Number">数字　class="e-list-number"</h2>
				<ol class="e-list-number u-mb-m">
					<li class="e-list-number__item">あああああああああああああああああああ</li>
					<li class="e-list-number__item">あああああああああああああああああああ</li>
					<li class="e-list-number__item">ああああああああああ</li>
				</ol>
				<ol class="e-list-number _red_">
					<li class="e-list-number__item">あああああああああああああああああああ</li>
					<li class="e-list-number__item">あああああああああああああああああああ</li>
					<li class="e-list-number__item">ああああああああああ</li>
				</ol>
				<div class="pre">
					<pre><code>&lt;ol class="e-list-number"&gt;
	&lt;li class="e-list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-number__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ol&gt;

&lt;ol class="e-list-number _red_"&gt;
	&lt;li class="e-list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="e-list-number__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ol&gt;</code></pre>
				</div>


				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>