<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：汎用制御・特定要素</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/ikeda/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/ikeda/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1">
				<div class="e-h1__inner">
					<!-- .c-breadcrumb -->
					<nav class="c-breadcrumb inview fadeup">
						<ul class="c-breadcrumb__inner">
							<li class="c-breadcrumb__item"><a href="/ikeda/" class="c-breadcrumb__link">TOP</a></li>
							<li class="c-breadcrumb__item">テンプレート</li>
							<li class="c-breadcrumb__item">汎用制御・特定要素</li>
						</ul>
					</nav>
					<!-- /.c-breadcrumb -->
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__jp">汎用制御・特定要素</h1>
						<span class="__en">Other</span>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->						
			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/ikeda/template/template-nav.html" -->
					<!--============================================== /template-nav -->
				
				<div class="u-mb-xxl">
					<a href="#hoge" class="e-btn-arrow">
						<span class="__txt">アンカーリンクサンプル</span>
						<span class="__ico icon-angle-down" aria-hidden="true"></span>
					</a>
				</div>
			
				
				<h2 class="e-h2" data-en="Centering">左右中寄せ</h2>
				<h3 class="e-h3">インラインレベル要素左中右寄せ</h3>
				<div class="u-al-l">class="u-al-l" インラインレベル左寄せ</div>
				<div class="u-al-c">class="u-al-c" インラインレベル中央寄せ</div>
				<div class="u-al-r">class="u-al-r" インラインレベル右寄せ</div>
				<div class="pre">
					<pre><code>&lt;div class="u-al-l"&gt;class="u-al-l" インラインレベル左寄せ&lt;/div&gt;
&lt;div class="u-al-c"&gt;class="u-al-c" インラインレベル中央寄せ&lt;/div&gt;
&lt;div class="u-al-r"&gt;class="u-al-r" インラインレベル右寄せ&lt;/div&gt;</code></pre>
				</div>
				
				<h3 class="e-h3">ブロックレベル要素左中右寄せ</h3>
				<div class="m-indent u-c-red u-fw-bold u-mb-m"><span class="__item">※</span>flex-box の概念を利用していますので、複数子要素が入る場合などは注意。</div>
				<div class="u-al-fl">
					<div class="m-box _gray_">class="u-al-fl" ブロックレベル左寄せ</div>
				</div>
				<div class="u-al-fc">
					<div class="m-box _gray_">class="u-al-fc" ブロックレベル中央寄せ</div>
				</div>
				<div class="u-al-fr">
					<div class="m-box _gray_">class="u-al-fr" ブロックレベル右寄せ</div>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="u-al-fl"&gt;
	&lt;div class="m-box _gray_"&gt;class="u-al-fl" ブロックレベル左寄せ&lt;/div&gt;
&lt;/div&gt;
&lt;div class="u-al-fc"&gt;
	&lt;div class="m-box _gray_"&gt;class="u-al-fc" ブロックレベル中央寄せ&lt;/div&gt;
&lt;/div&gt;
&lt;div class="u-al-fr"&gt;
	&lt;div class="m-box _gray_"&gt;class="u-al-fr" ブロックレベル右寄せ&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>

				
				<div id="hoge">
					<h2 class="e-h2" data-en="Anker Link">アンカーリンクサンプル</h2>
				</div>


				<h2 class="e-h2" data-en="Responsive">レスポンシブ対応</h2>
				<h3 class="e-h3">Youtube,Google Map等埋込  class="e-iframe"</h3>
				<div class="e-iframe">
					<iframe src="https://www.youtube.com/embed/u52_E55GVt0" width="1280" height="720" class="__elem" allowfullscreen></iframe>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="e-iframe"&gt;
	&lt;iframe src="https://www.youtube.com/embed/u52_E55GVt0" width="1280" height="720" class="__elem" allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
				</div>

				<div class="e-iframe">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18332.60100274925!2d139.75585805149223!3d35.68250187152156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1487051789852" width="800" height="600" class="__elem" allowfullscreen></iframe>
				</div>
				<div class="pre">
					<pre><code>&lt;div class="e-iframe"&gt;
	&lt;iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18332.60100274925!2d139.75585805149223!3d35.68250187152156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1487051789852" width="800" height="600" class="__elem" allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
				</div>

				
				<h3 class="e-h3">画像 Retina 対応</h3>
				<div class="m-indent u-c-red u-fw-bold u-mb-m"><span class="__item">※</span>IE11対応不要の場合は srcset="hogehoge" は不要です。</div>
				<picture class="u-mw100p">
					<source media="(min-width: 767.5px)" 
									srcset="http://placehold.jp/60/009789/ffffff/1600x1200.png?text=IE%E7%94%A8%EF%BC%88PC%E8%A1%A8%E7%A4%BA%EF%BC%89" 
									data-srcset="http://placehold.jp/100/009688/ffffff/1600x1200.png?text=PC%E7%94%A8%0A%EF%BC%881600x1200%EF%BC%89">
					<source media="(max-width: 767.4px)" 
									srcset="http://placehold.jp/60/7a5446/ffffff/800x600.png?text=IE%E7%94%A8%EF%BC%88SP%E8%A1%A8%E7%A4%BA%EF%BC%89" 
									data-srcset="http://placehold.jp/80/795548/ffffff/800x600.png?text=SP%E7%94%A8%0A%EF%BC%88800x600%EF%BC%89">
					<img src="http://placehold.jp/100/009688/ffffff/400x300.png" class="lazyload u-mw100p" alt="">
				</picture>
				<div class="pre">
					<pre><code>&lt;picture class="u-mw100p"&gt;
	&lt;source media="(min-width: 767.5px)" 
					srcset="PC用.png" 
					data-srcset="PC用.png"&gt;
	&lt;source media="(max-width: 767.4px)" 
					srcset="SP用.png" 
					data-srcset="SP用.png"&gt;
	&lt;img src="遅延用.png" class="lazyload u-mw100p" alt=""&gt;
&lt;/picture&gt;</code></pre>
				</div>
				

				

				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-bottom -->
				<!--#include virtual="/ikeda/common/inc/c-contact-bottom.html" -->
				<!--============================================== /c-contact-bottom -->
			</div>
			<!-- /.l-contents -->
			
			<!--============================================== footer -->
			<!--#include virtual="/ikeda/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/ikeda/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>