<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：見出し</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1280px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1 _default_">
				<div class="e-h1__inner">
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__en">Template</h1>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->
						
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/forestess/template/template-nav.html" -->
					<!--============================================== /template-nav -->

					<h2 class="e-h2" data-en="Title">class="e-h2" 大見出し大見出し</h2>
					<div class="pre">
						<pre><code>&lt;h2 class="e-h2"&gt;class="e-h2" 大見出し大見出し&lt;/h2&gt;</code></pre>
					</div>

					<h3 class="e-h3">class="e-h3" 中見出し中見出し中見出し中見出し</h3>
					<div class="pre">
						<pre><code>&lt;h3 class="e-h3"&gt;class="e-h3" 中見出し中見出し中見出し中見出し&lt;/h3&gt;</code></pre>
					</div>

					<h4 class="e-h4">class="e-h4" 小見出し小見出し小見出し小見出し小見出し小見出し</h4>
					<div class="pre">
						<pre><code>&lt;h4 class="e-h4"&gt;class="e-h4" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h4&gt;</code></pre>
					</div>

					<h5 class="e-h5">class="e-h5" 小見出し小見出し小見出し小見出し小見出し小見出し</h5>
					<div class="pre">
						<pre><code>&lt;h5 class="e-h5"&gt;class="e-h5" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h5&gt;</code></pre>
					</div>

					<h6 class="e-h6">class="e-h6" 小見出し小見出し小見出し小見出し小見出し小見出し</h6>
					<div class="pre">
						<pre><code>&lt;h6 class="e-h6"&gt;class="e-h6" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h6&gt;</code></pre>
					</div>

				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>