<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：マージン</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/forestess/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1280px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
			.row {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #e2e2e2;
				text-align: center;
				line-height: 1.4;
			}
		</style>		
	</head>

	<body>
		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/forestess/common/inc/header.html" -->
			<!--============================================== /header -->

			<!-- .e-h1 -->
			<div class="e-h1 _default_">
				<div class="e-h1__inner">
					<div class="e-h1__ttl inview fadeup">
						<h1 class="__en">Template</h1>
					</div>
				</div>
			</div>
			<!-- /.e-h1 -->					
			
			<!-- .l-contents -->
			<div class="l-contents">
				<!-- .l-contents__inner -->
				<div class="l-contents__inner">
					<!--============================================== template-nav -->
					<!--#include virtual="/forestess/template/template-nav.html" -->
					<!--============================================== /template-nav -->
			
				<div class="m-box _gray_ u-mb-l">
					<ul class="e-list _circle_">
						<li class="e-list-circle__item">基本的な余白の設定です。<br>
							margin-bottomを例に上げていますが、上・左・右、また padding の上・下・左・右 についても同様の値です。
						</li>
						<li class="e-list-circle__item">.u-mb-l ～ .u-mb-xxxl の値については、スマホ表示時に 1／2になるように設定しています。</li>
						<li class="e-list-circle__item">値を変更したい際は /common/sass/foundations/vars/_.scss を修正してください。</li>
					</ul>
				</div>
				
				<div class="c-grid _col5_ u-mb-m">
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xxxs（10px）</div>
						<div class="row" style="height: 10px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xxs（15px）</div>
						<div class="row" style="height: 15px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xs（20px）</div>
						<div class="row" style="height: 20px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-s（25px）</div>
						<div class="row" style="height: 25px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-m（30px）</div>
						<div class="row" style="height: 30px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-l（60px / 30px）</div>
						<div class="row u-dp-m" style="height: 60px;"></div>
						<div class="row u-dp-s" style="height: 30px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xl（80px / 40px）</div>
						<div class="row u-dp-m" style="height: 80px;"></div>
						<div class="row u-dp-s" style="height: 40px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xxl（100px / 50px）</div>
						<div class="row u-dp-m" style="height: 100px;"></div>
						<div class="row u-dp-s" style="height: 50px;"></div>
					</div>
					<div class="__col">
						<div class="u-mb-xxxs">.u-mb-xxxl（150px / 75px）</div>
						<div class="row u-dp-m" style="height: 150px;"></div>
						<div class="row u-dp-s" style="height: 75px;"></div>
					</div>
				</div>

				</div>
				<!-- /.l-contents__inner -->
				
				<!--============================================== c-contact-btn -->
				<!--#include virtual="/forestess/common/inc/c-contact-btn.html" -->
				<!--============================================== /c-contact-btn -->
			</div>
			<!-- /.l-contents -->


			<!--============================================== footer -->
			<!--#include virtual="/forestess/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/forestess/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>