@charset "utf-8";
@use "../../global/_" as g;
.e-label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 68px;
	padding: 5px 10px;
	background: g.$white;
	border: 1px solid g.$line-gray;
	font-size: g.$fz-m;
	text-align: center;
	line-height: 1.3;
	color: g.$text-black;
	@include g.radius(2);
}

