@charset "utf-8";
@use "../../global/_" as g;
.c-contact {
	&-btn {
		padding: 0 30px;
		max-width: 1020px;
		margin: 0 auto;

		@include g.smMax {
			padding: 0 15px;
		}

		&__link {
			border: 2px solid g.$aqua;
			position: relative;
			padding: 70px 80px 60px;
			background-color: #fff;
			background-image: linear-gradient(135deg, g.$aqua 50%, transparent 50%);
			background-position: 100%;
			background-size: 300%;
			text-decoration: none;
			transition: background 750ms ease-in-out;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include g.smMax {
				flex-direction: column;
				padding: 60px 20px 30px;
				justify-content: center;
			}

			@media only screen and (min-width: 768px) and (max-width: 850px) {
				padding: 70px 40px 60px;
			}

			@include g.hover {
				background-position: 0;
				color: g.$white;

				.__ttl ,
				.__txt {
					color: g.$white;
				}

				.__ttl {
					&::before {
						color: g.$white;
					}
				}

				.__ico {
					transform: translateX(15px) translateY(0);
				}
			}
		}

		&__inner {
			@include g.smMax {
				margin: 0 0 20px;
			}

			.__ttl {
				font-size: 6.4rem;
				font-style: italic;
				font-weight: 500;
				color: g.$baseColor;
				@include g.font-en;
				letter-spacing: 0;
				position: relative;
				padding: 0 0 0 35px;
				margin: 0 0 50px;
				@include g.transition;

				@include g.smMax {
					font-size: 5.2rem;
					margin: 0 0 20px;
				}

				&::before {
					position: absolute;
					content: attr(data-number);
					top: 0;
					left: 0;
					font-size: g.$fz-xxxl;
					color: g.$baseColor;
					@include g.font-bold;
					@include g.font-en;
					font-style: italic;
					line-height: 0;
					@include g.transition;
				}
			}

			.__txt {
				color: g.$text-black;
				background: none;
				@include g.transition;
			}
		}

		.__ico {
			font-size: 4.0rem;
			line-height: 1;
			@include g.transition;
			position: relative;

			@include g.smMax {
				font-size: 2.4rem;
			}
		}
	}
}
