@charset "utf-8";
@use "../../global/_" as g;
.c-privacy {
	&__txt {
		margin: 0 0 80px;

		@include g.smMax {
			margin: 0 0 40px;
		}
	}

	&__txt02 {
		margin: 0 0 40px;

		@include g.smMax {
			margin: 0 0 20px;
		}
	}
	
	&-block {
		margin: 0 0 65px;

		@include g.smMax {
			margin: 0 0 40px;
		}

		&:last-of-type {
			margin: 0;
		}
	}
}
