@charset "utf-8";
@use "../../global/_" as g;
.l-footer {
	background: g.$text-black;
	color: g.$white;
	padding: 80px 30px 50px;
	margin: 180px 0 0;

	@include g.smMax {
		padding: 40px 15px 50px;
		margin: 50px 0 0;
	}

	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include g.smMax {
			flex-direction: column;
		}
	}

	&-left {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (min-width: 768px) and (max-width: 1055px) {
			width: 40%;
		}

		@include g.smMax {
			width: 100%;
			order: 2;
			text-align: center;
			padding: 50px 0 0;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
		}

		&__address {
			margin: 0 0 30px;
		}

		&__tel {
			font-size: g.$fz-xxxl;
			@include g.font-bold;
			@include g.font-en;
			margin: 0 0 10px;

			@include g.smMax {
				font-size: g.$fz-xxl;
			}

			a[href*="tel:"] {
				color: g.$white;
				font-size: 4.0rem;

				@include g.smMax {
					font-size: 3.2rem;
				}
			}
		}

		&__fax {
			font-size: g.$fz-xxxl;
			font-weight: 400;
			@include g.font-en;

			@media only screen and (min-width: 768px) and (max-width: 1170px) {
				font-size: g.$fz-xxl;
			}

			@include g.smMax {
				font-size: g.$fz-xl;
			}
		}
	}

	&-right {
		width: calc((100% - 50%) - 130px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (min-width: 768px) and (max-width: 1055px) {
			width: calc((100% - 40%) - 60px);
		}

		@include g.smMax {
			width: 100%;
			order: 1;
		}

		&-link {
			display: flex;
			justify-content: flex-end;
			width: 100%;

			.__link {
				color: g.$line-gray;
				font-size: 1.5rem;
				font-weight: 400;
				letter-spacing: 0.75px;	
				
				@include g.hover {
					color: g.$aqua;
				}	
			}

			.__txt {
				background: none
			}
		}
	}

	&-logo {
		@include g.smMax {
			width: 100%;
			margin: 0 0 40px;
		}
		
		&__link {
			display: inline-block;
			width: 288px;
			line-height: 0;
			margin: 0 0 50px;

			@media only screen and (min-width: 768px) and (max-width: 955px) {
				width: 230px;
			}
	
			@include g.smMax {
				width: 200px;
				margin: 0 0 25px;
			}

			.__elem {
				width: 100%;
			}

			.__ico {
				width: 100% !important;
			}
		}
	}

	&-copyright {
		font-size: g.$fz-xs;
		font-weight: 400;
		letter-spacing: 0.65px;
		color: g.$line-gray;

		@include g.smMax {
			text-align: center;
			width: 100%;
		}
	}
}