@charset "utf-8";
@use "../../global/_" as g;
.e-h3 {
	margin: 0 0 20px;
	padding: 0 0 20px;
	font-size: g.$fz-l;
	letter-spacing: 0.9px;
	line-height: 1.4;
	color: g.$baseColor;
	@include g.font-bold;
	border-bottom: 1px solid g.$line-gray;

	@include g.smMax {
		margin: 0 0 15px;
		padding: 0 0 15px;
		font-size: 1.7rem;
	}
}
