@charset "utf-8";
@use "../../global/_" as g;
.e-h4 {
	position: relative;
	margin: 0 0 50px;
	padding: 0 0 25px;
	border-bottom: 2px solid g.$line-gray;
	font-size: 3.0rem;
	line-height: 1.4;
	@include g.font-bold;

	@include g.smMax {
		font-size: 2.4rem;
		margin: 0 0 25px;
		padding: 0 0 15px;
	}

	&::after {
		position: absolute;
		left: 0;
		bottom: -2px;
		content: '';
		width: 50px;
		border-bottom: 2px solid g.$baseColor;

		@include g.smMax {
		}
	}
}
