@charset "utf-8";
@use "../../global/_" as g;
.c-service {
	&-lead {
		padding: 120px 30px;
		text-align: center;
		font-size: g.$fz-xxxl;
		font-weight: 700;
		letter-spacing: 1.2px;

		@include g.smMax {
			padding: 50px 15px 60px;
			font-size: g.$fz-xl;
			line-height: 1.8;
		}

		.__bg {
			color: g.$white;
			background: g.$baseColor;
			padding: 2px 10px 3px;
			margin: 0 30px;
			position: relative;
			display: inline-block;
			@include g.transition;

			@include g.smMax {
				margin: 0 25px;
			}

			&::before ,
			&::after {
				width: 0;
				height: 0;
				border-style: solid;
				content: "";
				z-index: 1;
				@include g.transition;
				line-height: 2.6;
			}

			&::before {
				border-width: 0 0 3.78rem 24px;
				position: absolute;
				top: 0;
				left: -24px;
				border-color: transparent transparent g.$baseColor transparent;

				@media only screen and (min-width: 768px) and (max-width: 870px) {
					border-width: 0 0 3.9rem 24px;
				}

				@include g.smMax {
					border-width: 0 0 41px 24px;
				}
			}

			&::after {
				border-width: 3.78rem 24px 0 0;
				position: absolute;
				top: 0;
				right: -24px;
				border-color: g.$baseColor transparent transparent transparent;

				@media only screen and (min-width: 768px) and (max-width: 870px) {
					border-width: 3.9rem 24px 0 0;
				}

				@include g.smMax {
					border-width: 41px 24px 0 0;
				}
			}
		}

		.__link {		
			@include g.smMax {
				margin: 5px 0;
				display: inline-block;
			}

			@include g.hover {
				.__bg {
					background: g.$aqua;

					&::before {
						border-color: transparent transparent g.$aqua transparent;
					}
		
					&::after {
						border-color: g.$aqua transparent transparent transparent;
					}
				}
			}
		}
	}

	&-ttl {
		display: flex;
		flex-direction: column;
		color: g.$baseColor;
		margin: 0 0 50px;

		@include g.smMax {
			margin: 0 0 30px;
		}

		&._center_ {
			justify-content: center;
			text-align: center;
			align-items: center;

			.__en {
				margin: 0 0 5px;
			}
		}

		.__ttl {
			order: 2;
			font-size: g.$fz-xxxl;
			@include g.font-bold;
			letter-spacing: 1.2px;

			@include g.smMax {
				font-size: g.$fz-xl;
			}
		}

		.__en {
			order: 1;
			font-size: 9.6rem;
			font-style: italic;
			font-weight: 500;
			line-height: 84%;
			@include g.font-en;
			margin: 0 0 30px;

			@include g.smMax {
				font-size: 4.3rem;
				margin: 0 0 10px;
				line-height: 1.0;
			}
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&__item {
			border: 1px solid g.$line-gray;
			@include g.radius(2);
			padding: 2px 10px;
			margin: 0 0 10px;

			.__green {
				color: g.$dark-aqua;
				@include g.font-bold;
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	&-bg {
		background: g.$bg-gray2;
		margin: 115px 0 150px;
		padding: 115px 0 150px;

		@include g.smMax {
			margin: 60px 0 70px;
			padding: 60px 0 70px;
		}
	}

	&-refrigerant {
		margin: -240px auto 150px;
		max-width: 1340px;
		padding: 0 30px;

		@include g.smMax {
			padding: 0 15px;
			margin: -120px auto 70px;
		}

		&__inner {
			position: relative;
			width: 100%;
			height: 587px;
			overflow: hidden;
			margin: 0 0 65px;

			@include g.smMax {
				height: auto;
				margin: 0 0 35px;
			}

			.c-service-ttl {
				width: 45%;
				z-index: 2;
				position: absolute;
				top: 80px;
				left: 0;

				@include g.smMax {
					width: 100%;
					position: relative;
					top: 0;
				}
			}
		}

		&-img {
			width: 68.75%;
			height: 587px;
			z-index: 1;
			position: absolute;
			top: 0;
			right: 0;
			overflow: hidden;

			@include g.smMax {
				width: 100%;
				height: 300px;
				position: relative;
			}

			.__elem {
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include g.centering-elements(true, true);
			}
		}

		&-box {
			padding: 50px;
			border: 2px solid g.$aqua;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0 80px;

			@media only screen and (min-width: 768px) and (max-width: 1085px) {
				gap: 0 40px;
				padding: 30px;
			}

			@include g.smMax {
				padding: 25px;
				grid-template-columns: repeat(1, 1fr);
				gap: 30px 0;
			}

			.__ttl {
				font-size: g.$fz-l;
				@include g.font-bold;
				letter-spacing: 0.9px;
				color: g.$baseColor;
				margin: 0 0 20px;
			}
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			margin: 0 8px 10px 0;

			.e-label {
				margin: 0;
				background: none;
			}

			&._mr-0_ {
				margin-right: 0;

				@media only screen and (min-width: 768px) and (max-width: 1337px) {
					margin-right: 8px;
				}

				@include g.smMax {
					margin-right: 8px;
				}
			}
		}
	}


	&-heavy {
		margin: 0 auto 150px;
		max-width: 1340px;
		padding: 0 30px;

		@include g.smMax {
			margin: 0 auto 70px;
			padding: 0 15px;
		}

		&__inner {
			position: relative;
			width: 100%;
			height: 587px;
			overflow: hidden;
			margin: 0 0 65px;

			@include g.smMax {
				height: auto;
				margin: 0 0 35px;
			}

			.c-service-ttl {
				order: 2;
				width: 50%;
				z-index: 2;
				position: absolute;
				text-align: right;
				top: 80px;
				right: 0;

				@include g.smMax {
					width: 100%;
					position: relative;
					top: 0;
					text-align: left;
				}
			}
		}

		&-img {
			order: 1;
			width: 68.75%;
			height: 587px;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;

			@include g.smMax {
				width: 100%;
				height: 300px;
				position: relative;
			}

			.__elem {
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include g.centering-elements(true, true);
			}
		}
	}

	&-gallery {
		&-slider {
			&__item {
				padding: 0 12px;
			}
		}
	}

	&-work {
		margin: 0 auto;
		max-width: 1340px;
		padding: 0 30px;

		@include g.smMax {
			padding: 0 15px;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin: 0 -20px;

			@include g.smMax {
				margin: 0;
			}
		}

		&__item {
			position: relative;
			width: calc((100% - 120px) / 3);
			margin: 0 20px 40px;
			box-sizing: border-box;
			border-image: url(/forestess/common/img/service/bg_work.svg) 100 / 100px / 0 round;
			border-style: solid;
			background: g.$white;

			@media only screen and (min-width: 768px) and (max-width: 950px) {
				width: calc((100% - 60px) / 3);
				margin: 0 10px 30px;
			}

			@include g.smMax {
				width: 100%;
				margin: 0 0 30px;
			}
		}

		&-slider {
			position: relative;
			z-index: 2;
			padding: 30px;

			@media only screen and (min-width: 768px) and (max-width: 950px) {
				padding: 20px;
			}

			@include g.smMax {
				padding: 20px;
			}

			&__list {
				width: 100%;
				height: 290px;

				@include g.smMax {
					max-width: 320px;
					margin: 0 auto 20px !important;
					height: 320px;
				}
			}

			&__item {
				width: 100%;
				height: 255px;
				overflow: hidden;

				@include g.smMax {
					height: 290px !important;
				}

				.__pic {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.__elem {
					width: auto !important;
					height: 100%;
					object-fit: cover;
				}
			}

			.slick-dots {
				bottom: 0 !important;
			}
		}

		&__ttl {
			display: flex;
			align-items: center;
			margin: 0 0 10px;

			@media only screen and (min-width: 768px) and (max-width: 1200px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			.e-label {
				margin: 0 15px 0 0;

				@media only screen and (min-width: 768px) and (max-width: 1200px) {
					font-size: g.$fz-s;
					padding: 5px;
					margin: 0 0 10px;
				}

				@include g.smMax {
					margin: 0 10px 0 0;
				}
			}

			.__txt {
				@include g.font-bold;
				line-height: 1.4;
			}
		}

		&__txt {
			font-size: g.$fz-l;
			@include g.font-bold;
			letter-spacing: 0.9px;
			color: g.$baseColor;
		}
	}

	&-btn {
		position: absolute;
		bottom: 320px;
		right: 0;
		z-index: 3;

		&__link {
			width: 180px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 16px 0 0 16px;
			background: g.$baseColor;
			color: g.$white;
			padding: 20px;
			@include g.font-bold;
			@include g.transition;

			.__en {
				font-size: 4.0rem;
				font-style: italic;
				line-height: 84%;
				@include g.font-en;
				font-weight: 500;
			}

			.__txt {
				margin: 0 0 5px;
				background: none;
			}

			.__ico {
				@include g.transition;
			}

			@include g.hover {
				background: g.$aqua;

				.__ico {
					transform: translateX(0) translateY(8px);
				}
			}
		}
	}
}
